.rangeDatesDays {
    text-align: center;
}

.rangeDatesDays p {
    margin: 5px;
    color: rgb(180, 180, 180);
}

.rangeDatesButtons button {
    border: 1px solid darkgrey;
    margin: 5px;
    background-color: #393b3d;
    color: darkgrey;
    padding: 5px 15px;
}

.rangeDatesButtons button:hover {
    cursor: pointer;
    color: rgb(248, 233, 233);
}

.rangeDatesButtons button:disabled {
    border: 1px solid #555657;
    cursor: auto;
    background-color: #555657;
    color: rgb(128, 126, 126);
}