.rangeDatesDays {
    text-align: center;
}

.rangeDatesDays p {
    margin: 5px;
    color: rgb(180, 180, 180);
}

.rangeDatesButtons button {
    border: none;
    margin: 5px;
    background-color: #393b3d;
    color: darkgrey;
    padding: 5px 15px;
}

.rangeDatesButtons button:hover {
    cursor: pointer;
    border: none;
    background-color: #393b3d;
    color: rgb(248, 233, 233);
}