footer {
    background-color: #393b3d;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    color: rgb(92, 167, 238);
    margin: 10px;
}

footer span {
    color: rgb(177, 177, 177);
    font-size: 10px;
}