header {
    background-color: #393b3d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
}

.header-menu {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    color: rgb(255, 255, 255);
    text-transform: lowercase;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 300;
}
.header-logo span {
    text-transform: uppercase;
    font-weight: 100;
    color: rgb(92, 167, 238);
}

.header-data p {
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: right;
    margin: 0;
}

.data-ok {
    color: limegreen;
}

.data-false {
    color: rgb(241, 0, 0);
}

@media (min-width: 300px) and (max-width: 600px) {
    .header-logo  {
        display: none;
    }
}