table {
    border-collapse: collapse;
    width: 100%;
    background-color: #494b4d;
}

thead th p {
    color: rgb(209, 194, 194);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 10px 0px;
}

thead th :hover {
    cursor: pointer;
    color: rgb(52, 159, 247);
    transform: scale(1.1);
}

thead th span {
    font-size: 10px;
}

tbody tr {
    /* text-align: center; */
    border-top: 1px solid rgb(122, 121, 121);
}

tbody tr p {
    margin: 3px;
    font-weight: 100;
    color: rgb(209, 194, 194);
}

.td-currency span {
    color: rgb(189, 177, 177);
    font-size: 12px;
}

.td-rate p{
    color: rgb(193, 241, 253);
}

.rate-up {
    margin-left: 15px;
    color: lime;
}

.rate-down {
    margin-left: 15px;
    color: red;
}

.rate-flat {
    margin-left: 15px;
    color: yellow;
}


@media (min-width: 300px) and (max-width: 600px) {
    .flag-img {
        width: 40px;
        height: 27px;
    }
    thead th p {
        font-size: 14px;
    }
    .tbody th p {
        font-size: 14px;
    }
    .td-country {
        font-size: 14px;
    }
}