table {
    border-collapse: collapse;
    width: 100%;
    background-color: #494b4d;
}

thead th p {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 10px 0px;
}

.actionable:hover {
    cursor: pointer;
    color: rgb(52, 159, 247);
    transform: scale(1.1);
}

thead th span {
    font-size: 10px;
}


/* tbody */

tbody tr {
    border-top: 1px solid rgb(122, 121, 121);
}

.td-countries {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
}

.td-countries div{
    margin: 3px;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(126, 150, 167);

}

.td-countries div:hover{
    cursor: pointer;
    background-color: rgb(92, 167, 238);
    transform: scale(1.1);
}

tbody tr p {
    margin: 3px;
    font-weight: 100;
    color: rgb(255, 255, 255);
}

.td-rate p {
    color: orange;
}

.td-difference span {
    font-weight: 300;
}

.rate-up {
    color: rgb(102, 223, 102);
}

.rate-down {
    color: rgb(252, 73, 73);
}

.rate-flat {
    color: rgb(231, 231, 78);
}

/* media */

@media (min-width: 300px) and (max-width: 600px) {
    .flag-img {
        width: 40px;
        height: 27px;
    }
    thead th p {
        font-size: 14px;
    }
    .tbody th p {
        font-size: 14px;
    }
    .td-country {
        font-size: 14px;
    }
}