.toolbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #393b3d;
}
.toolbar svg{
    font-size: 22px;
}

.toolbar p{
    font-size: 14px;
    margin: 5px;
}

.toolbar button {
    padding: 10px;
    width: 60px;
    color: darkgrey;
    background-color: #393b3d;
    border: none;
    outline: none;
}

.toolbar button:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.toolbar button:focus {
    color: rgb(255, 255, 255);
    background-color: #414346;
    border-left: 1px solid rgb(71, 95, 233);
}

@media (min-width: 300px) and (max-width: 600px) {
    .toolbar {
        position: inherit;
        width: 110%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .toolbar button:focus {
        border-left: none;
        border-bottom: 1px solid rgb(71, 95, 233);
    }
}